.logo {
    width: 15%;
    margin-left: 30px;
}

.nav-item {
    font-weight: bolder;
    margin: 20px;
    font-size: larger;
}

.navbar {
    background-color: #898b89 !important;
    padding: 5px;
}

.color {
    color: white !important;
}

.img {
    width: 100%;
    position: absolute;
}

.content {
    position: relative;
    margin: 30%;
    padding-top: 10%;
    font-size: xx-large;
}

span {
    color: red;
}

.content>p {
    color: white;
}